.jumbotron {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    height : 50vh;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.sign-up{
    margin-left: 2rem;
}
