@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="~/cssStyles/StyleSheet1.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/cssStyles/Layout.css" />
<div class="content-wrapper" style="height: 90vh; display: flex; justify-content: center; align-items: center ">
    <div class="jumbotron">
        <h1 style="color:darkblue;">Student Sports Management</h1>
        <p class="lead text-center" style="color:darkslateblue;">ASP.NET powered web application for Student Sports Management.</p>
        <div class="button-wrapper">
        <div class="text-center">
            <p><a href="https://localhost:44363/Student/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
        </div>
        <p class="text-center sign-up">
            <a href="https://localhost:44363/Student/Create" class="btn btn-danger btn-lg" style="color:white; text-decoration:none;">Sign up</a>
        </p>
        </div>
    </div>
</div>
